{% import "macros/tag.html" as tag %}
{% import "macros/material.html" as material %}
{% extends "base.html" %}

{% block title %}
{{ head::title(name = "Tags") }}
{{ head::meta_simple(title = "Tags") }}
{% endblock title %}

{% block content %}
<header>
  <nav>
    <a class="button circle transparent history" href="{{ get_url(path='/') }}">
      <i>arrow_back</i>
    </a>
    <h5 class="max">Listes des tags</h5>
  </nav>
</header>

<main class="responsive">
  <section class="margin">
    {% for category in terms %}
    {% if loop.index % 2 %}
    <div class="s">
      {{ tag::display_reverse(term=category) }}
    </div>
    <div class="m l">
      {{ tag::display_normal(term=category) }}
    </div>
    {% else %}
    <div class="s m l">
      {{ tag::display_reverse(term=category) }}
    </div>
    {% endif %}
    {% endfor %}
  </section>
</main>
{% endblock content %}
