{% import "material.html" as material %}
{% extends "base.html" %}

{% block content %}
<header>
  <nav>
    <h5>Categories</h5>
  </nav>
</header>

<nav class="scroll cat-badge">
{% for category in terms %}
<a class="chip" href="{{ category.permalink | safe }}">
  <span class="badge round secondary">{{ category.pages | length }}</span>
  {{ category.name }}
</a>
{% endfor %}
</nav>

{% for category in terms %}
<article class="round">
<h5 class="capitalize">{{ category.name }}</h5>
<div class="grid">
{% for post in category.pages %}
  {% if loop.index <= 4 %}
  <div class="s6 m4 l3">
    {{ material::card(post=post) }}
  </div>
{% endif %}
{% endfor %}
</div>
<div class="medium-space"></div>
<a class="button border small-elevate secondary-border secondary-text" href="{{ category.permalink | safe }}">
  <i>arrow_forward</i>
  Voir les recettes pour <span class="capitalize">{{ category.name }}</span>
</a>
</article>
<div class="medium-space"></div>
{% endfor %}

{% endblock content %}
