{% import "material.html" as material %}
{% extends "base.html" %}

{% block content %}
<header>
  <nav>
    <h5>Categories</h5>
  </nav>
</header>

<p>
{% for category in terms %}
<a class="button border" href="{{ category.permalink | safe }}">
  <span class="badge round">{{ category.pages | length }}</span>
  {{ category.name }}
</a>
{% endfor %}
</p>

{% for category in terms %}
<h5>{{ category.name }}</h5>
<div class="row scroll">
  {% for post in category.pages %}
  {{ material::card(post=post) }}
  {% endfor %}
</div>
{% endfor %}

{% endblock content %}
