{% import "material.html" as material %}
{% import "macros/paginate.html" as paginate %}

{% extends "base.html" %}

{% block title %}
{{ head::title(name = "Toutes les recettes pour " ~ term.name) }}
{% endblock title %}

{% block content %}

<header>
  <nav>
    <h5 class="max">{{ "Recettes dans la categorie " ~ term.name }}</h5>
  </nav>
</header>

<div class="grid">
  {% for post in paginator.pages %}
  <div class="s6 m4 l3">
    {{ material::card(post=post) }}
  </div>
  {% endfor %}
</div>

{{ paginate::buttons(paginator=paginator) }}

{% endblock content %}
