{% macro list(category, class_name="small-width") %}
<h5 class="capitalize beer-page-title">{{ category.name }}</h5>
<div class="row scroll">
{% for post in category.pages %}
  {% if loop.index <= 4 %}
  <div class="custom-height {{ class_name }}">
    {{ material::card(post=post) }}
  </div>
  {% endif %}
{% endfor %}
</div>
<div class="medium-space"></div>
<div class="center-align medium-align">
  <a class="button small-elevate large secondary" href="{{ category.permalink | safe }}">
    <i>arrow_forward</i>
    Voir les recettes pour <span class="capitalize">{{ category.name }}</span>
  </a>
</div>
</article>
{% endmacro %}
