{% macro list(category) %}
<a name="{{ category.name | slugify }}">
  <h5 class="capitalize beer-page-title">{{ category.name }}</h5>
</a>
<div class="row scroll">
{% for post in category.pages %}
  {% if loop.index <= 4 %}
                      <div class="s m">
  <div class="custom-height small-width">
    {{ material::card(post=post) }}
  </div>
  </div>
                      <div class="l">
  <div class="custom-height custom-width">
    {{ material::card(post=post) }}
  </div>
                        </div>
  {% endif %}
{% endfor %}
</div>
<div class="medium-space"></div>
<div class="s">
  <a class="button responsive secondary" href="{{ category.permalink | safe }}">
    <i>arrow_forward</i>
    Voir les recettes pour <span class="capitalize">{{ category.name }}</span>
  </a>
</div>
<div class="m l">
<div class="center-align medium-align">
  <a class="button small-elevate large secondary" href="{{ category.permalink | safe }}">
    <i>arrow_forward</i>
    Voir les recettes pour <span class="capitalize">{{ category.name }}</span>
  </a>
</div>
</div>
{% endmacro %}

{% macro display(term, number=2) %}
<div class="grid">
{% for page in term %}
{% if loop.index <= number %}
<div class="s6 m4 l3">
  {{ material::card(post=page) }}
</div>
{% endif %}
{% endfor %}
</div>
{% endmacro %}
