{% macro card(post) %}
<a class="round wrap border" href="{{ post.permalink | safe }}">
  <article class="no-padding round">
    {% if post.extra.feature_image %}
      {% if post.extra.imagekit %}

    {% set site = load_data(path="site.toml") %}
    <!-- describe here: https://imagekit.io/responsive-images/#chapter-5---srcset-with-sizes -->
      <img class="responsive small top-round"
           src="{{ post.extra.feature_image }}"
           loading="lazy"
           srcset="{{ site.imagekit_url }}/tr:q-80,w-225,f-webp/{{ post.extra.feature_image }} 225w,
                   {{ site.imagekit_url }}/tr:q-80,w-300,f-webp/{{ post.extra.feature_image }} 300w,
                   {{ site.imagekit_url }}/tr:q-80,w-350,f-webp/{{ post.extra.feature_image }} 350w,
                   {{ site.imagekit_url }}/tr:q-80,w-640,f-webp/{{ post.extra.feature_image }} 640w,
                  "
           sizes="(max-width: 400px) 100vw, (max-width: 700px) 50vw, (max-width: 900px) 33vw, 225px">
      {% elif post.extra.unsplash %}
      <img class="responsive small top-round"
           src="{{ post.extra.feature_image }}"
           loading="lazy"
           srcset="{{ post.extra.feature_image }}&fm=webp&w=225&fit=max 225w,
                   {{ post.extra.feature_image }}&fm=webp&w=300&fit=max 300w,
                   {{ post.extra.feature_image }}&fm=webp&w=350&fit=max 350w,
                   {{ post.extra.feature_image }}&fm=webp&w=640&fit=max 640w,
                  "
           sizes="(max-width: 400px) 100vw, (max-width: 700px) 50vw, (max-width: 900px) 33vw, 225px">
      {% else %}
      <img class="responsive small top-round" loading="lazy" src="{{ post.extra.feature_image }}">
      {% endif %}
    {% endif %}
    <div class="padding">
      <h6 class="s m bold">{{ post.title | truncate(length=16) }}</h6>
      <h6 class="l bold">{{ post.title }}</h6>
      <p>{{ post.content | striptags | truncate(length=53) }}</p>
    </div>
  </article>
</a>
{% endmacro %}

{% macro default_card(title, content) %}
<article class="round">
  <h5>{{ title }}</h5>
  <p>{{ content }}</p>
</article>
{% endmacro %}
