{% macro buttons(paginator) %}
<div class="space"></div>
<nav class="scroll">
  <div class="center-align">
  {% if paginator.previous %}
    <a class="button circle small secondary" href="{{ paginator.previous | safe }}">
      <i>arrow_back</i>
    </a>
  {% else %}
    <button class="circle small secondary" disabled>
      <i>arrow_back</i>
    </button>
  {% endif %}
    <div class="small margin">Précèdente</div>
  </div>
  <div class="max divider"></div>
  <div class="center-align">
    <button class="circle small secondary">{{ paginator.current_index }}</button>
    <div class="small-margin">Index</div>
  </div>
  <div class="max divider"></div>
  <div class="center-align">
  {% if paginator.next %}
    <a class="button circle small secondary" href="{{ paginator.next | safe }}">
      <i>arrow_forward</i>
    </a>
  {% else %}
    <button class="circle small secondary" disabled>
      <i>arrow_forward</i>
    </button>
  {% endif %}
    <div class="small margin">Suivante</div>
  </div>
</nav>
{% endmacro %}
