.banner-img {
    height: 24rem !important;
}

.rip {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 1.4rem;
}

.cat-badge {
    height: 5rem;
}

.custom-width {
    width: 17rem!important;
    max-width: 100%;
}

.sticky {
    z-index: 1!important;
}

@media only screen and (max-width: 600px) {
  .beer-page {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .custom-height {
    height: 18rem!important;
  }
  .sticky {
    padding-left: 45rem!important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .beer-page {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .custom-height {
    height: 18rem!important;
  }
  .sticky {
    padding-left: 50rem!important;
  }
}

@media only screen and (min-width: 993px) {
  .beer-page {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .custom-height {
    height: 17rem!important;
  }
  .sticky {
    padding-left: 20rem!important;
  }
}
