.banner-img {
    height: 24rem !important;
}

.rip {
    margin-top: 4rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 1.4rem;
}

.cat-badge {
    height: 5rem;
}

.custom-width {
    width: 18rem!important;
    max-width: 100%;
}

.custom-height {
    height: 17rem!important;
}

.shut-up {
    visibility: hidden;
    display: none;
}

.sticky {
    z-index: 1!important;
}

@media only screen and (max-width: 600px) {
  .sticky {
    padding-left: 32rem!important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .sticky {
    padding-left: 35rem!important;
  }
}

@media only screen and (min-width: 993px) {
  .sticky {
    padding-left: 14rem!important;
  }
}
