.banner-img {
    height: 24rem !important;
}

.rip {
    margin-top: 2rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 1.4rem;
}

.cat-badge {
    height: 5rem;
}

.custom-width {
    width: 18rem!important;
    max-width: 100%;
}

.shut-up {
    visibility: hidden;
    display: none;
}

.sticky {
    z-index: 1!important;
}

@media only screen and (max-width: 600px) {
  .custom-height {
    height: 20rem!important;
  }
  .sticky {
    padding-left: 36rem!important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .custom-height {
    height: 18rem!important;
  }
  .sticky {
    padding-left: 41rem!important;
  }
}

@media only screen and (min-width: 993px) {
  .custom-height {
    height: 18rem!important;
  }
  .sticky {
    padding-left: 4rem!important;
  }
}
