{% import "head.html" as head %}
{% import "nav.html" as nav %}
{% import "footer.html" as footer %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <title>Recettes de cuisine</title>
    <link href="/site.css" type="text/css" rel="stylesheet" media="all">
    {{ head::material() }}
  </head>
  <body class="light">

    <!-- for short screen -->
    <nav class="s bottom">
      {{ nav::routes() }}
    </nav>

    <!-- for medium and large -->
    <nav class="m l left">
      {{ nav::routes() }}
    </nav>

    <main class="responsive">
      {% block content %} {% endblock %}
    </main>

    {# footer #}

    <div class="rip"
    {{ footer::social() }}
    <div>s="padding"></div>
    {{ footer::copyright() }}
    </div>
  </body>
</html>
