{% import "head.html" as head %}
{% import "nav.html" as nav %}
{% import "footer.html" as footer %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    {% block title %} {% endblock %}
    <meta property="og:site_name" content="{{ config.title }}" />
    <meta property="og:locale" content="{{ config.default_language }}" />
    <link rel="icon" type="image/x-icon" href="{{ get_url(path='/favicon.ico') }}">
    <link href="{{ get_url(path='/site.css') }}" type="text/css" rel="stylesheet" media="all">
    <link href="{{ get_url(path='/print.css') }}" type="text/css" rel="stylesheet" media="print">
    {{ head::material() }}
    {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endblock %}
    <script defer>
      function initEdgioRum() {
          new Edgio.Metrics({
              token: '51fcedfe-b3a3-4989-bfbc-52ba6b70c59b'
          }).collect()
      }
    </script>
    <script src="https://rum.edgio.net/latest.js" defer onload="initEdgioRum()">
    </script>
  {% block js %} {% endblock %}
    <script type="text/javascript">
      function assert(test, msg) {
          var res = test ? "pass" : "fail"
          console.log(msg + " " + res)
      };
      function load_explore() {
          var link = document.getElementsByClassName("explore");
          var html = '<i>widgets</i><span>Explore</span>'

          for (let i = 0; i < link.length; i++) {
              link[i].setAttribute("href", "javascript:void(0)");
              link[i].setAttribute("data-ui", "#dialog");
              link[i].classList.add("active");
              link[i].innerHTML = html
          }
      };
      function load_sticky() {
          var header = document.getElementsByClassName("my-sticky");

          for (let i = 0; i < header.length; i++) {

            var sticky = header[i].offsetTop;

            if (window.pageYOffset > sticky) {
              header[i].classList.add("fixed");
              header[i].classList.add("top");
              header[i].classList.add("sticky");
            } else {
              header[i].classList.remove("fixed");
              header[i].classList.remove("top");
              header[i].classList.remove("sticky");
            }
          };
          //header.classList.toggle("fixed", window.pageYOffset > sticky);
      };
      function change_color() {
        let mode = ui("mode")
        var x = document.getElementsByTagName("BODY")[0];

        if (mode === "light") {
          ui("mode", "dark")
          x.classList.remove("light")
          x.classList.add("dark")
          document.cookie = "theme=dark;"
        } else {
          ui("mode", "light")
          x.classList.remove("dark")
          x.classList.add("light")
          document.cookie = "theme=light;"
        };
      };
function getCookie(cname) {
  let name = cname + "=";
  let ca = document.cookie.split(';');
  for(let i = 0; i < ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
};
function load_change_color() {

  // load current theme
  let name = getCookie("theme");
  if (name != "") {
    ui("mode", name);
  } else { // load default
    ui("mode", "light");
    document.cookie = "theme=light;"
  }

  // enable button to change color
  let button = document.getElementById("change_color");
  button.addEventListener("click", () => {
    change_color();
  });
};
      function go_back() {
        var class_back = document.getElementsByClassName("history");

        for (let i=0; i<class_back.length; i++) {
          class_back[i].setAttribute("href", "javascript:void(0)");
          class_back[i].addEventListener("click", () => {
            history.back();
          });
        }
      };
      window.onload = function() {
          load_explore();
          load_change_color();
          go_back();
        {% block js_onload %} {% endblock %}
      };
      window.addEventListener("scroll", function(evt) {
          load_sticky();
      });
    </script>
  </head>
  <body>

    <!-- for short screen -->
    <nav class="s bottom">
      {{ nav::routes() }}
    </nav>

    <!-- for medium and large -->
    <nav class="m l left">
      {{ nav::routes() }}
      <a href="/tags">
        <i>my_location</i>
        <span>Tags</span>
      </a>
      <div class="max"></div>
      <a id="change_color">
        <i>light_mode</i>
      </a>
    </nav>

    {{ nav::dialog() }}

    <main class="responsive">
      {% block content %} {% endblock %}
    </main>

  <div class="space"></div>

    {# footer #}
  <div class="responsive" id="footer">
    <div class="rip">
      <div class="grid">
        <div class="s12 m12 l6">
          {{ footer::about() }}
        </div>
        <div class="s6 m6 l3">
          {{ footer::social() }}
        </div>
        <div class="s6 m6 l3">
          {{ footer::information() }}
        </div>
      </div>
      <div class="space"></div>
    </div>
    <div class="padding">
      {{ footer::copyright() }}
    </div>
  </div>
  </body>
</html>
