{% macro about() %}
<div class="medium-line">
  <h6>À propos</h6>
  <p class="padding"><a class="reverse-link" href="/">{{ config.title }}</a> contient de nombreuses recettes de famille issue de la cuisine <a class="link" href="https://fr.wikipedia.org/wiki/Cuisine_pied-noire">pied-noire</a>, <a class="link" href="https://fr.wikipedia.org/wiki/Cuisine_des_pays_du_Maghreb">algérienne</a>, <a class="link" href="https://fr.wikipedia.org/wiki/Cuisine_m%C3%A9diterran%C3%A9enne">méditerranéenne</a> et <a class="link" href="https://fr.wikipedia.org/wiki/Cuisine_maltaise">maltaise</a>.</p>
</div>
{% endmacro about %}

{% macro social() %}
<div>
  <h6>Social</h6>
  <div class="row">
    <a class="link" href="https://github.com/szorfein">
      Github
    </a>
  </div>
  <div class="row">
    <a class="link" href="/atom.xml">Blog RSS</a>
  </div>
</div>
{% endmacro social %}

{% macro information() %}
<div>
  <h6>Informations</h6>
  <div class="row">
    <a class="link" href="/politique-de-confidentialite">Politique de confidentialité</a>
  </div>
  <div class="row">
    <a class="link" href="/mention-legales">Mention légales</a>
  </div>
</div>
{% endmacro information %}

{% macro copyright() %}
<div class="no-padding bottom-align center-align">
<p>
  Site crée par  <a class="capitalize link" href="https://github.com/szorfein">szorfein</a>
</p>
{% endmacro copyright %}
