{% macro social() %}
<div class="padding center-align">
  <div class="grid">
    <div class="s12 m8 l6">
      hello
    </div>
    <div class="s12 m4 l6">
      <table>
        <thead>
          <tr>
            <th><h6>Social</h6></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>github</td>
          </tr>
          <tr>
            <td><a class="link" href="/atom.xml">Blog RSS</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endmacro social %}

{% macro copyright() %}
<div class="no-padding bottom-align center-align">
<p>
  Site crée par  <a class="capitalize link" href="https://github.com/szorfein">szorfein</a>
</p>
{% endmacro copyright %}
