{% import "material.html" as material %}
{% import "head.html" as head %}
{% import "macros/tag.html" as tag %}
{% import "macros/categorie.html" as categorie %}
{% extends "base.html" %}

{% block title %}
{{ head::title(name = "Zola Cook") }}
{{ head::meta_simple(title = "Zola Cook",
  description = "Zola Cook présente de nombreuses recettes de cuisine.") }}
{% endblock title %}

{% block content %}
<article class="no-elevate round no-padding large page bottom active">
  <img class="responsive" src="https://images.unsplash.com/photo-1577214407836-1f3a0604ecb2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1336&q=80">
  <div class="absolute middle center middle center-align white-text">
    <h1 class="center-align upper">Zola cook</h1>
    <h6>Zola contient des recettes de cuisine du monde.</h6>
    <nav class="center-align">
      <a class="button extra" href="/recettes">
        Voir les recettes
      </a>
    </nav>
  </div>
</article>

<main class="responsive">
<div class="medium-space"></div>

<h4>Background</h4>
<div class="space"></div>
<div class="medium-text medium-line">
  <p class="medium-line">
    Ce site contient de nombreuses recettes issue de la cuisine <a class="link" href="https://fr.wikipedia.org/wiki/Cuisine_pied-noire">pied-noire</a>, <a class="link" href="https://fr.wikipedia.org/wiki/Cuisine_des_pays_du_Maghreb">algérienne</a>, <a class="link" href="https://fr.wikipedia.org/wiki/Cuisine_m%C3%A9diterran%C3%A9enne">méditerranéenne</a>, <a class="link" href="https://fr.wikipedia.org/wiki/Cuisine_maltaise">maltaise</a> et d'autres contrées, vous trouverez de nombreuses recettes comme le <a class="link" href="/recettes/couscous">couscous</a>, <a class="link" href="/recettes/taboule">le taboulé</a>, les <a class="link" href="/recettes/makrouts">makrouts</a>, le <a class="link" href="/recettes/jeri">jéri à la menthe</a>, les briks (<a class="link" href="/recettes/bricks-au-thon">au thon</a>), les fricassés tunisien en passant par la <a class="link" href="/recettes/pizza-aux-anchoix/">pizza aux anchoix</a>, des sardines à l'escabech, etc...<br />
    D'autres fantaisies sont ou seront ajoutées comme le <a class="link" href="/recettes/mojito">mojito</a>, <a class="link" href="/recettes/brownie">brownie</a>, une tarte au citron (un jour peut être :)).
  </p>
</div>

<div class="medium-space"></div>

{% set section = get_section(path="recettes/_index.md") %}

<h4>Dernière Recettes</h4>
<div class="space"></div>
<div class="s l">
  {{ categorie::display(term=section.pages, number=4) }}
</div>
<div class="m">
  {{ categorie::display(term=section.pages, number=3) }}
</div>
<div class="medium-space"></div>
<div class="s">
  <a class="button responsive small-elevate secondary" href="/recettes">
    <i>arrow_forward</i>
    Voir toutes les recettes
  </a>
</div>
<div class="m l">
  <div class="center-align medium-align">
    <a class="button small-elevate large secondary" href="/recettes">
      <i>arrow_forward</i>
      Voir toutes les recettes
    </a>
  </div>
</div>

<div class="large-space"></div>

<h4>Par continents</h4>
<div class="space"></div>
{% set categories = get_taxonomy(kind="tags") %}
{% for category in categories.items %}
{% if loop.index % 2 and loop.index <= 2 %}
<div class="s">
  {{ tag::display_reverse(term=category) }}
</div>
<div class="m l">
  {{ tag::display_normal(term=category) }}
</div>
{% else %}
<div class="s m l">
  {{ tag::display_reverse(term=category) }}
</div>
{% endif %}
{% endfor %}

</main>
{% endblock content %}
