{% import "material.html" as material %}
{% extends "base.html" %}

{% block content %}
<header class="no-padding">
  <img class="responsive round banner-img" src="https://images.unsplash.com/photo-1577214407836-1f3a0604ecb2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1336&q=80">
  <div class="padding absolute center middle white-text">
    <h1 class="upper">Zola cook</h1>
  </div>
</header>

<div class="medium-space"></div>

<h4>Background</h4>
<div class="medium-text">
  <p class="medium-line">
    Ce site contient de nombreuses recettes issue de la cuisine <a class="link" href="https://fr.wikipedia.org/wiki/Cuisine_pied-noire">pied-noire</a>, <a class="link" href="https://fr.wikipedia.org/wiki/Cuisine_des_pays_du_Maghreb">algérienne</a>, <a class="link" href="https://fr.wikipedia.org/wiki/Cuisine_m%C3%A9diterran%C3%A9enne">méditerranéenne</a>, <a class="link" href="https://fr.wikipedia.org/wiki/Cuisine_maltaise">maltaise</a> et d'autres contrées, vous trouverez de nombreuses recettes traditionel comme le <a class="link" href="/recettes/couscous">couscous</a>, <a class="link" href="/recettes/taboule">le taboulé</a>, les makrouts, le jéri à la menthe, les briks, les fricassés tunisien en passant par la pizza napolitaine, des sardines à l'escabech, etc...<br />
    D'autres fantaisies sont ou seront ajoutées comme le <a class="link" href="/recettes/mojito">mojito</a>, <a class="link" href="/recettes/brownie">brownie</a>, une tarte au citron (un jour peut être :)).
  </p>
</div>

<div class="medium-space"></div>

{% set section = get_section(path="recettes/_index.md") %}

<h4>Dernière Recettes</h4>
<div class="grid">
  {% for page in section.pages %}
  {% if loop.index <= 6 %}
  <div class="s6 m4 l3">
     {{ material::card(post=page) }}
  </div>
  {% endif %}
  {% endfor %}
</div>
<div class="space"></div>
<a class="button border medium-elevate secondary-border secondary-text" href="/recettes">
  <i>arrow_forward</i>
  Voir toutes les recettes
</a>

{% endblock content %}
