{% macro card(post) %}
<a class="round wrap border" href="{{ post.permalink | safe }}">
  <article class="no-padding round">
    {% if post.extra.feature_image %}
      {% if post.extra.imagekit %}
    <!-- describe here: https://imagekit.io/responsive-images/#chapter-5---srcset-with-sizes -->
      <img class="responsive small top-round"
           src="{{ post.extra.feature_image }}"
           srcset="{{ post.extra.feature_image }}?tr=w-225 225w,
                   {{ post.extra.feature_image }}?tr=w-300 300w,
                   {{ post.extra.feature_image }}?tr=w-350 350w,
                   {{ post.extra.feature_image }}?tr=w-640 640w,
                  "
           sizes="(max-width: 400px) 100vw, (max-width: 700px) 50vw, (max-width: 900px) 33vw, 225px">
      {% else %}
      <img class="responsive small top-round" src="{{ post.extra.feature_image }}">
      {% endif %}
    {% endif %}
    <div class="padding">
      <h6 class="bold">{{ post.title }}</h6>
      <p>{{ post.content | striptags | truncate(length=53) }}</p>
    </div>
  </article>
</a>
{% endmacro %}

{% macro default_card(title, content) %}
<article class="round">
  <h5>{{ title }}</h5>
  <p>{{ content }}</p>
</article>
{% endmacro %}
