{% extends "base.html" %}

{% block title %}
{{ head::title(name = page.title ~ " | Zola-Cook") }}
{{ head::meta_article(post=page) }}
{% endblock title %}

{% block content %}
<header>
  <nav>
    <a class="button circle transparent history" href="/recettes">
      <i>arrow_back</i>
    </a>
    <div class="max"></div>
    <button>
      <!-- Thanks to: --
        -- https://blog.shahednasser.com/how-to-easily-add-share-links-for-each-social-media-platform/ --
      https://css-tricks.com/simple-social-sharing-links/
        -- -->
      <i>share</i>
      <span>Partager</span>
      <menu class="right no-wrap">
        <a href="https://www.facebook.com/sharer.php?u={{ page.permalink | safe }}&quote={{ page.title }}" target="blank">facebook</a>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.permalink | safe }}" target="blank">twitter</a>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.permalink | safe }}" target="blank">linkedin</a>
        <a href="https://wa.me/?text={{ page.permalink | safe }}" target="blank">whatsapp</a>
        <a href="https://t.me/share/url?url={{ page.permalink | safe }}&text={{ page.title }}" target="blank">telegram</a>
        <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{ page.permalink | safe }}&caption={{ page.title }}" target="blank">tumblr</a>
        <a href="https://www.reddit.com/submit?url={{ page.permalink | safe }}&title={{ page.title }}" target="blank">reddit</a>
        <a href="https://pinterest.com/pin/create/link/?url={{ page.permalink | safe }}&description={{ page.title }}" target="blank">pinterest</a>
      </menu>
    </button>
    <button class="border" onClick="window.print()">
      <i>print</i>
    </button>
  </nav>
</header>

<main class="responsive">
<article class="no-padding round border">
  <div class="grid">

    <div class="s12">
      {% if page.extra.feature_image %}
      {% if page.extra.unsplash %}
      <img class="responsive medium banner-img" src="{{ page.extra.feature_image }}&fm=webp&q=80">
      {% elif page.extra.imagekit %}
      {% set site = load_data(path="site.toml") %}
      <img class="responsive medium banner-img" src="{{ site.imagekit_url }}/tr:f-webp,q-80/{{ page.extra.feature_image }}">
      {% else %}
      <img class="responsive medium banner-img" src="{{ page.extra.feature_image }}">
      {% endif %}
      {% endif %}

      <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
        <nav>
          <h3>{{ page.title }}</h3>
        </nav>
      </div>
    </div>

    <div class="s12">
      <div class="padding medium-text">{{ page.content | safe }}</div>

      <div class="grid small-line padding">
        {% if page.extra.ingredients %}
        <div class="s12 m6 l4">
          <h4>Ingrédients</h4>
          {% for ingredients in page.extra.ingredients %}
          <div class="row">
            <div class="max">
              {{ ingredients | safe }}
            </div>
          </div>
          {% endfor %}
          <div class="medium-space"></div>
          {% if page.extra.ingredients_2_title %}
          <h6>{{ page.extra.ingredients_2_title }}</h6>
          {% for ingredients in page.extra.ingredients_2 %}
          <div class="row">
            <div class="max">
              {{ ingredients | safe }}
            </div>
          </div>
          {% endfor %}
          <div class="medium-space"></div>
          {% endif %}
          {% if page.extra.ingredients_3_title %}
          <h6>{{ page.extra.ingredients_3_title }}</h6>
          {% for ingredients in page.extra.ingredients_3 %}
          <div class="row">
            <div class="max">
              {{ ingredients | safe }}
            </div>
          </div>
          {% endfor %}
          <div class="medium-space"></div>
          {% endif %}
        </div>
        {% endif %}

        {% if page.extra.ingredients %}
        <div class="s12 m6 l8">
          <h4>Préparation</h4>
          {% for task in page.extra.preparations %}
          <div class="row">
            <div>
              <button class="border small secondary-text secondary-border">
                {{ loop.index }}
              </button>
            </div>
            <div class="max">{{ task | safe }}</div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</article>
</main>
{% endblock content %}
