{% import "material.html" as material %}
{% import "macros/paginate.html" as paginate %}

{% extends "base.html" %}

{% block title %}
{{ head::title(name = "Liste des recettes") }}
{{ head::meta_simple(title = "Liste des recettes") }}
{% endblock title %}

{% block content %}
<header>
  <nav>
    <a class="button circle transparent history" href="{{ get_url(path='/') }}">
      <i>arrow_back</i>
    </a>
    <h5 class="max">{{ section.title }}</h5>
  </nav>
</header>

<main class="responsive">
  <div class="grid medium-space">
    {% for page in paginator.pages %}
    <div class="s6 m4 l3">
      {{ material::card(post=page) }}
    </div>
    {% endfor %}
  </div>

  {{ paginate::buttons(paginator=paginator) }}
  <div class="m l">
    <div class="medium-space"></div>
  </div>
</main>
{% endblock content %}
